  .container1{
    height:100vh;
    width:100%;
    background-color:black;
  }
  .navbar{
    height:25vh;
    width:100%;
    background-color:red;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .box1{
    height:75vh;

    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
  }
   .left{
    width:50%;
    height:80vh;
    background-color:black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;

  }
  .left h1 {
    color: #e04d4d;
    margin-bottom: 10px;
}
.left h2 {
  margin-bottom: 20px;
}

.left p {
  margin: 10px;
  color: #666;
}

  .right{
    width:50%;
    height:80vh;
    background-color:black;
    display:flex;
    justify-content:flex-start;
    align-items:center;

  }
  .main{
    object-fit:fill;
    width:60%;
    height:85%;

  }